@{
    ViewData["Title"] = "Chi siamo";
}

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReFound</title>
</head>
<body>
    <h1>Chi siamo</h1>
    <p>
        Benvenuti in ReFound, una comunità dedicata a ridurre lo spreco e promuovere la sostenibilità attraverso il riuso degli oggetti. Fondata con la missione di ridurre l'impatto ambientale negativo della produzione e dello smaltimento degli oggetti, ReFound si impegna a creare un futuro più sostenibile per le generazioni a venire.
    </p>
    <p>
        Presso ReFound, crediamo che ogni oggetto abbia una storia da raccontare e un potenziale di riutilizzo. La nostra piattaforma online offre un punto di incontro per individui e famiglie che desiderano dare nuova vita ai loro oggetti usati e per coloro che cercano un'alternativa sostenibile al consumo eccessivo.
    </p>
    <p>
        Attraverso il nostro mercato online, offriamo agli utenti la possibilità di acquistare, vendere e scambiare una vasta gamma di oggetti usati, dai mobili agli elettrodomestici, dai vestiti agli articoli per la casa. Ogni transazione su ReFound contribuisce non solo a ridurre lo spreco, ma anche a promuovere un'economia circolare e responsabile.
    </p>
    <p>
        Siamo orgogliosi di essere più di una semplice piattaforma di vendita online. ReFound è una comunità di individui e famiglie che condividono una passione per la sostenibilità e un impegno per un futuro più verde. Oltre al nostro mercato online, offriamo anche risorse e suggerimenti su come ridurre lo spreco e vivere in modo più sostenibile, fornendo ispirazione e supporto per coloro che desiderano fare la loro parte per l'ambiente.
    </p>
    <p>
        Unisciti a noi in questo viaggio verso un mondo più sostenibile. Insieme, possiamo fare la differenza e creare un futuro migliore per il nostro pianeta e le generazioni future.
    </p>
</body>
</html>
