@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p><b>ReFound ™</b> è un servizio online dedicato a facilitare la vendita di oggetti usati tra privati. Il nostro obiettivo è fornire una piattaforma sicura e affidabile dove gli utenti possono elencare e acquistare una vasta gamma di oggetti usati, da abbigliamento e accessori a elettronica, mobili e altro ancora.</p>

<p>Rispettiamo la tua privacy e ci impegniamo a proteggere le tue informazioni personali mentre utilizzi il nostro servizio. Questa politica sulla privacy spiega come raccogliamo, utilizziamo e proteggiamo le informazioni che ci fornisci quando utilizzi il nostro sito.</p>

<h2>Informazioni Raccolte</h2>
<p>Quando utilizzi il nostro sito, potremmo raccogliere le seguenti informazioni personali:</p>
<ul>
    <li>Informazioni di contatto, come nome, indirizzo email e numero di telefono.</li>
    <li>Informazioni sulle transazioni, incluse le transazioni di acquisto e vendita che effettui tramite il nostro servizio.</li>
    <li>Informazioni demografiche, come età, genere e posizione geografica.</li>
    <li>Altre informazioni che ci fornisci volontariamente, ad esempio compilando moduli sul nostro sito o comunicando con noi tramite email o chat.</li>
</ul>

<h2>Utilizzo delle Informazioni</h2>
<p>Utilizziamo le informazioni raccolte per i seguenti scopi:</p>
<ul>
    <li>Elaborare e gestire le transazioni tra acquirenti e venditori.</li>
    <li>Fornire assistenza clienti e supporto tecnico.</li>
    <li>Personalizzare e migliorare l'esperienza dell'utente sul nostro sito.</li>
    <li>Comunicare con te tramite email, notifiche push o altri mezzi riguardanti il tuo account, transazioni, offerte speciali e aggiornamenti sul servizio.</li>
    <li>Condurre analisi di mercato, ricerche o sondaggi.</li>
    <li>Rispondere a richieste legali o proteggere i nostri diritti e interessi legali.</li>
</ul>

<h2>Condivisione delle Informazioni</h2>
<p>Non condivideremo, vendiamo o affittiamo le tue informazioni personali a terze parti senza il tuo consenso, tranne nei seguenti casi:</p>
<ul>
    <li>Condivideremo informazioni con terze parti solo per scopi di elaborazione delle transazioni, ad esempio per facilitare il pagamento e la consegna degli oggetti.</li>
    <li>Potremmo condividere informazioni con le autorità competenti in risposta a richieste legali o per proteggere i nostri diritti legali.</li>
    <li>Potremmo condividere informazioni in forma aggregata o anonima per scopi statistici o di ricerca di mercato.</li>
</ul>

<p>Per ulteriori informazioni sulla nostra politica sulla privacy, non esitare a contattarci.</p>
